<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'vacancy_list' %}">Home</a>
                </li>
                {#        <li class="nav-item">#}
                {#          <a class="nav-link" href="#">Link</a>#}
                {#        </li>#}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'change_password' %}">Change
                                Password</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a>
                        </li>
                        <!--            <li><hr class="dropdown-divider"></li>-->
                        <li>
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                            {% endif %}


                    </ul>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true">{{ user }}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <div class="nav-registration">
                        <li class="nav-item">
                            <a class="btn btn-primary" href="{% url 'registration' %}">Register</a>
                        </li>
                    </div>
                {% endif %}
                {% if user.is_authenticated and perms.core.add_vacancy %}
                    <div>
                        <a class="btn btn-primary" href="{% url 'vacancy_add' %}">Add Vacancy</a>
                    </div>
                {% endif %}
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" name="title" placeholder="Vacancy title"
                       aria-label="Search">
                <input class="form-control me-2" type="search" placeholder="Company name" aria-label="Search"
                       name="company">

                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>